### AIT 614 - Big Data Essentials <br>
#### Lab 4: Spark with Python in Databricks
<hr>
<b>Purpose for helping students to learn PySpark for Data Science in Databricks</b><br>

Creatd by Dr. Liao <br>
 <hr>
<b>Please type into your course section # and your full name:</b><br><br>

Course Section #: AIT-614_002 <br>
Student's Full Name: Darsh Sandeep Agrawal<br>

<hr>
<b>Please follow Dr. Liao's code examples/tutorials to complete these tasks:</b>

#### Load a data file

In [0]:
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/dagrawal@gmu.edu/EmployeeAttrition__1_.csv")

##### (5 points) 1. Count the employees whose TotalWorkingYears are greater than 20.

In [0]:
df1.filter(df1.TotalWorkingYears>20).count()

Out[2]: 207

##### (15 points) 2. Find EmployeeNumber, EducationField, JobRole for all the employees whose Age is between 25 and 30 and Education is 5. Use display() to display EmployeeNumber, EducationField, and JobRobe only.

In [0]:
df1_sel=df1.filter((df1.Age.between(25,30)) & (df1.Education == 5)).select(df1.EmployeeNumber,df1.EducationField,df1.JobRole)
display(df1_sel)

EmployeeNumber,EducationField,JobRole
455,Other,Laboratory Technician
565,Technical Degree,Research Scientist
747,Marketing,Sales Executive
1094,Life Sciences,Laboratory Technician

##### (15 points) 3. For all the women employees having Age between 35 and 40 and TotalWorkingYears < 5, sort EmployeeNumber in an ascending order. Use display() to show EmployeeNumber and Department in the output.

In [0]:
df1_sel=df1.filter((df1.Gender.contains("Female")) & (df1.Age.between(35,40)) & (df1.TotalWorkingYears < 5)).select(df1.EmployeeNumber,df1.Department)
display(df1_sel.sort(df1.EmployeeNumber.cast('int').asc()))

EmployeeNumber,Department
49,Sales
75,Research & Development
245,Research & Development
805,Sales
1569,Research & Development
1662,Research & Development
1675,Research & Development
1886,Research & Development
2052,Research & Development

##### (15 points) 4. Find employees whose HourlyRate is greater than 100 or DailyRate is greater than 1490. Display Age, HourlyRate, DailyRate, and Department only and sort DailyRate in a descending order.

In [0]:
df1_sel=df1.filter((df1.HourlyRate > 100) | (df1.DailyRate > 1490)).select(df1.Age,df1.HourlyRate,df1.DailyRate,df1.Department)
display(df1_sel.sort(df1_sel.DailyRate.desc()))

Age,HourlyRate,DailyRate,Department
60,80,1499,Sales
39,44,1498,Sales
29,41,1496,Research & Development
28,92,1496,Sales
38,76,1495,Research & Development
49,96,1495,Research & Development
38,87,1495,Research & Development
40,61,1492,Research & Development

##### (20 points) 5. For each JobRole, find the average MonthlyIncome. Print out the formatted monthly incomes in hundredth and arrange them in descending order?

In [0]:
from pyspark.sql.functions import avg, round
df1_sel = df1.groupBy('JobRole').agg(round(avg('MonthlyIncome'), 2).alias('avg_MonthlyIncome'))
display(df1_sel.sort('avg_MonthlyIncome', ascending=False))
df1_sel.display()

JobRole,avg_MonthlyIncome
Manager,17181.68
Research Director,16033.55
Healthcare Representative,7528.76
Manufacturing Director,7295.14
Sales Executive,6924.28
Human Resources,4235.75
Research Scientist,3239.97
Laboratory Technician,3237.17
Sales Representative,2626.0

JobRole,avg_MonthlyIncome
Sales Executive,6924.28
Manufacturing Director,7295.14
Laboratory Technician,3237.17
Sales Representative,2626.0
Healthcare Representative,7528.76
Research Scientist,3239.97
Manager,17181.68
Research Director,16033.55
Human Resources,4235.75

Output can only be rendered in Databricks

##### (20 points) 6. Count the different MaritalStatus when Attrition is Yes and Age is greater than 35 in the dataset. Arrange the count in descending order.

In [0]:
df2 = df1.filter((df1.Attrition.contains("Yes") & (df1.Age > 35)))
df1_sel = df2.groupBy(df1.MaritalStatus).count()
display(df1_sel.sort('count', ascending=False))
df1_sel.display()

MaritalStatus,count
Married,33
Single,30
Divorced,14

MaritalStatus,count
Married,33
Divorced,14
Single,30

Output can only be rendered in Databricks

##### (10 points) References: <br>
Dr. Liao’s Code Examples & Tutorials: Blackboard/Liao_PySpark_basic_databricks.html <br>
PySpark: https://spark.apache.org/docs/2.4.0/api/python/pyspark.html