## AIT 614 - Big Data Essentials 
### Lab 2: NoSQL MongoDB with Python
<hr>
<b>Purpose for students to learn PyMongo for Data Science </b><br>
Created by Dr. Liao<br>
<hr>

<b> Please type into your course section # and your full name: </b>
##### Course Section #: 002
##### Student's Full Name: Darsh Sandeep Agrawal
<hr>

<b>Please follow Dr. Liao's code examples/tutorials to complete these tasks: </b>

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\darsh\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\darsh\anaconda3\lib\site-packages (from pymongo) (2.3.0)

#### Import Libaries

In [2]:
import pymongo
import pandas as pd
import json
import matplotlib as mlt

#### Connect MongoDB

In [3]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

#### Load the CSV file

In [4]:
df = pd.read_csv("C:/Users/darsh/Downloads/EmployeeAttrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
df.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [6]:
df.shape

(1470, 35)

#### convert to Json

In [7]:
conv_data = json.loads(df.to_json(orient='records'))

#### Creating a Database

In [8]:
mongo_db = client["EmpDB"]
mongo_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'EmpDB')

#### Create a Collection

In [9]:
collection_name = "Employee"

#### Insert the data into MongoDB Collection

In [10]:
collection = mongo_db[collection_name]
collection.insert_many(conv_data)

In [11]:
collection.count_documents({})

1470

#### Query MongoDB

##### 1. Count the employees whose TotalWorkingYears are greater than 20.

In [12]:
collection.count_documents(
    {"TotalWorkingYears": {'$gt': 20}}
)

207

##### 2. Find EmployeeNumber, EducationField, JobRole for all the employees whose Age is between 25 and 30 and Education is 5. Display only EmployeeNumber, EducationField, and JobRobe in the output.

In [13]:
employees = collection.find(
    {'$and' : [ 
    { "Age": {"$lte": 30}},
    { "Age": {"$gte": 25}},
    {"Education" : 5},
    ]},
)

# print formatted outputs
print('Employee Number', '\t\t', 'Education Field', '\t\t', 'Job Role')
print('-------------------------------------------------------------------------------------------------')
for em in employees:
    print('{0}\t\t\t\t{1}\t\t\t\t{2}'.format(em['EmployeeNumber'], em['EducationField'],em['JobRole']))

Employee Number 		 Education Field 		 Job Role
-------------------------------------------------------------------------------------------------
455				Other				Laboratory Technician
565				Technical Degree				Research Scientist
747				Marketing				Sales Executive
1094				Life Sciences				Laboratory Technician

##### 3. For all the women employees having Age between 35 and 40 and TotalWorkingYears < 5, sort EmployeeNumber in an ascending order. Print only Department and EmployeeNumber in the output.

In [14]:
employees = collection.find(
    {"$and": [
    {"Age": {"$gte": 35}},
    {"Age": {"$lte": 40}},
    {"TotalWorkingYears": {"$lt": 5}},
    {"Gender": "Female"}
    ]}
).sort('EmployeeNumber',1)

#print_formatted_outputs
print('Employee Number', '\t\t', 'Department')
print('-----------------------------------------')
for em in employees:
    print('{0}\t\t\t\t{1}'.format(em['EmployeeNumber'], em['Department']))

Employee Number 		 Department
-----------------------------------------
49				Sales
75				Research & Development
245				Research & Development
805				Sales
1569				Research & Development
1662				Research & Development
1675				Research & Development
1886				Research & Development
2052				Research & Development

##### 4. Find employees whose HourlyRate is greater than or equal to 100 or DailyRate is greater than 1490. Display Age, HourlyRate, DailyRate, and Department only and sort DailyRate in an ascending order.

In [15]:
employees1 = collection.find(
    {"$or": [
    {"HourlyRate": {"$gte": 100}},
    {"DailyRate": {"$gt": 1490}},
    ]}
).sort('DailyRate')

#print_formatted_outputs
print('Age', '\t\t\t\t', 'HourlyRate', '\t\t', 'DailyRate', '\t\t', 'Department')
print('----------------------------------------------------------------------------------------------------')
for em in employees1:
    print('{0}\t\t\t\t{1}\t\t\t{2}\t\t\t{3}'.format(em['Age'], em['HourlyRate'], em['DailyRate'], em['Department']))

Age 				 HourlyRate 		 DailyRate 		 Department
----------------------------------------------------------------------------------------------------
31				100			218			Sales
29				100			224			Research & Development
45				100			306			Sales
38				100			345			Sales
35				100			528			Human Resources
22				100			594			Research & Development
19				100			602			Sales
26				100			652			Research & Development
34				100			702			Research & Development
32				100			976			Sales
21				100			996			Research & Development
37				100			1040			Research & Development
50				100			1046			Research & Development
36				100			1120			Sales
33				100			1198			Research & Development
32				100			1311			Research & Development
38				100			1336			Human Resources
31				100			1445			Research & Development
40				100			1479			Sales
40				61			1492			Research & Development
38				76			1495			Research & Development
49				96			1495			Research & Development
38				87			1495			Research & Development
29				41			1496			Research & Development
28				92			1496			Sales
39				44			1498			Sales
60				80			1499			Sales

##### 5. For each JobRole, find the average MonthlyIncome. Print out the formatted monthly incomes in hundredth and arrange them in descending order.

In [16]:
inc = collection.aggregate([
    {"$group" : {
        "_id" : "$JobRole",  
        "avg_monthly_income" : {"$avg" : '$MonthlyIncome'}
    }},
    {"$sort" : {
        "avg_monthly_income": -1}
    }
])

# print formatted outputs
print('Job Role', '\t\t\t', 'Average Monthly Income')
print('-------------------------------------------------------------')
for x in inc:
    print(x['_id'],'\t\t\t','{:.2f}'.format(x['avg_monthly_income']))

Job Role 			 Average Monthly Income
-------------------------------------------------------------
Manager 			 17181.68
Research Director 			 16033.55
Healthcare Representative 			 7528.76
Manufacturing Director 			 7295.14
Sales Executive 			 6924.28
Human Resources 			 4235.75
Research Scientist 			 3239.97
Laboratory Technician 			 3237.17
Sales Representative 			 2626.00

##### 6. Count the different MaritalStatus when Attrition is YES and AGE is greater than 35 in the dataset. Arrange the count in descending order.

In [17]:
mstat = collection.aggregate([
    {'$match': {
        'Attrition': 'Yes',
        'Age': {'$gt': 35}  
       
    }}, 
    {"$group" : { 
        "_id" : "$MaritalStatus",  
        "count": {'$sum': 1}
    }},
    {"$sort" : {
        "count": -1}
    }
])
list(mstat)

[{'_id': 'Married', 'count': 33},
 {'_id': 'Single', 'count': 30},
 {'_id': 'Divorced', 'count': 14}]

#### Delete All Documents in a Collection

In [18]:
coll_del = collection.delete_many({})
print(coll_del.deleted_count, "documents deleted.")

1470 documents deleted.

#### Delete the Collection

In [19]:
collection.drop()

<b>References</b>
1. Dr. Liao's Code Examples and Tutorials- https://mymasonportal.gmu.edu/bbcswebdav/pid-16629398-dt-content-rid-271922184_1/courses/24452.202310/Liao_pymongo.html
2. PyMongo Documentations: https://pymongo.readthedocs.io/en/stable/
3. Python MongoDB: https://www.w3schools.com/python/python_mongodb_getstarted.asp
4. MongoDB Toturials: https://docs.mongodb.com/manual/tutorial/ </b>